@using System.Threading.Tasks
@using SmartPlag.Manager.SimpleManager.Infrastructure.Model
@model SmartPlag.Manager.SimpleManager.Infrastructure.Model.Assignment

@{
  ViewBag.Title = "title";
  Layout = null;
}

<h2>new Assignment</h2>
@using (Html.BeginForm())
{
  <fieldset>
    <legend>Assignment</legend>
    <div class="editor-label">
      @Html.LabelFor(a => a.Title)
    </div>
    <div class="editor-field">
      @Html.TextBoxFor(a => a.Title)
    </div>

    <input type="submit" value="Create Assignment"/>
  </fieldset>
}
