@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>A ASP.NET MVC Client for consumation of SmartPlag Tokenizer and Comparison services.</p>
<a href="https://github.com/mdi1984/SmartPlag">GitHub</a>
